:root {
  --bg-color: rgb(255, 244, 223);
  --link-color: #70000b;
  --link-hover-color: #b90316;
  --color-4: white;
  --color-5: black;

  --primary-font: Times, serif;
  --secondary-font: Arial, sans-serif;
  --main-text-color: #252525;
  --primary-font-size: 1rem;

  --white-space: 2rem;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  gap: var(--white-space);
  align-items: center;

  margin: var(--white-space);
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}
h1,
h3,
p {
  font-family: var(--secondary-font);
  margin: 0;
}
.logo {
  background: var(--color-5);
  color: var(--color-4);
  padding: calc(var(--white-space) / 4);
  width: 9rem;
  font-size: calc(var(--primary-font-size) / 2);
  display: flex;
  justify-content: center;
}
.logo::before {
  content: " ";
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  font-weight: bold;
  align-self: center;
  margin-right: calc(var(--white-space) / 4);
}
.logo::after {
  content: " ";
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  font-weight: bold;
  align-self: center;
  margin-left: calc(var(--white-space) / 4);
}

.topNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--white-space) / 4);
}
.topNav h2 {
  font-size: var(--primary-font-size);
}
.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: calc(var(--white-space) / 8);
}
.topNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--link-color);
}
.topNav a:hover {
  color: var(--link-hover-color);
}
/*main*/
/*footer*/
footer {
  background-color: var(--link-color);
  color: var(--color-4);
  padding: var(--white-space);
  display: flex;
  justify-content: center;
}
.logoFooter {
  background: var(--color-4);
  color: var(--link-color);
  padding: calc(var(--white-space) / 4);
  width: 6rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.logoFooter::before {
  content: " ";
  background-color: var(--link-color);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  font-weight: bold;
  align-self: center;
  margin-right: calc(var(--white-space) / 4);
}
.logoFooter::after {
  content: " ";
  background-color: var(--link-color);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  font-weight: bold;
  align-self: center;
  margin-left: calc(var(--white-space) / 4);
}

@media only screen and (min-width: 750px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
